#underline6{
    width: 100px;
    height: 5px;
    background: #e49539;
    bottom: 9px;
}
#cont1{
    width: 600px;
    height: 500px;
    background-color: #e49539;
    border-radius: 30px;
}
#col2{
    width: 600px;
    height: 500px;
    background-color: #000000;
    border-radius: 30px;
    opacity: 55%;
}
#icon1{
    margin-left: 100px;
}
#icon2{
    margin-left: 100px;
}
#icon3{
    margin-left: 100px;
}
#mail{
    margin-top: 100px;
}
#address{
    margin-top:75px;
}
#name{
    width: 450px;
}
#email{
    width: 450px;
}
#subject{
    width: 450px;
}
#message{
    width: 450px;
}
#sendmessage{
    margin-left: 75px;
}