footer{
    background: #e49539;
}
#media2{
    margin-left: 150px;
}
#develop{
    width: 400px;
    margin-left:580px;
}
#devname{
    width: 440px;
    margin-left: 515px;
}
#fL2{
    margin-left: 180px;
}