#underline3{
    width: 100px;
    height: 5px;
    background: #e49539;
    bottom: 9px;
}
#progress{
    width: 560px;
    height: 450px;
    background: #93aace;

    margin-top: 50px;
    border-radius: 25px;

}

/* #social{
     border: 10px solid #ffffff;
     width: 600px;
     border-radius: 100%;
 }*/
#social1{
    margin-right: 50px;
    position: relative;
    left: 65px;
    animation-name: t1;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
/* #social1:hover{

     transition: all 2s;
 }*/

/*------Rotate-----*/
@keyframes t1 {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
#java{
    padding: 0;
}
#sql{
    padding: 0;
}
#html{
    padding: 0;
}
#css{
    padding: 0;
}
#boot{
    padding: 0;
}
#js{
    padding: 0;
}